body {
    font-family: verdana;
    font-size: 13px;
}

#header {
    margin: 0 auto;
    width: 1000px;   
    height: 120px;
    background-image: url("imatges/logo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 30%;
    position: relative;
}

#headerTitle {
    width: 70%;
    height: 120px;
    text-align: center;
    color: white;
    background-color: #210439;
    position: absolute;
    left: 31%;
    overflow: hidden;
}

#headerTitle h1 {
    padding-top: 25px;
    font-size: 200%;
}

#headerTitle h2 {
    font-size: 13px;
}
