body {
    font-family: verdana;
    font-size: 13px;
}

.disposicio {
    margin: 0 auto;
    width: 1000px;
    border: dashed;
    box-sizing: border-box;
}


#header {  
    box-sizing: border-box;
    height: 120px;
    background-image: url("imatges/logo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
    position: relative;
}

#headerTitle {
    width: 80%;
    height: 120px;
    text-align: center;
    color: white;
    background-color: #210439;
    position: absolute;
    left: 20%;
    overflow: hidden;
}

#headerTitle h1 {
    font-size: 200%;
}

#headerTitle h2 {
    font-size: 13px;
}

#menu {
    box-sizing: border-box;
    height: 50px;
}

#menu ul { 
    padding-left: 0px;
}

#menu li {
    display: inline;
    background-color: #9376ac;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 130%;
}

#pattern {
    box-sizing: border-box;
    background-image: url("imatges/pattern.jpg");
    height: 100px;
}

#centralImg {
    box-sizing: border-box;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#centralImg img {
    width: 100%;
    position: absolute;
    top: -135px;
}

#grades {
    background-color: #dcdcdc;
    height: 250px;
    text-align: center;
}

#grades h3 {
    margin-top: 40px;
    /*font weight bold no funciona*/
    text-decoration: underline;
}

#grades table {
    margin: 0 auto;
    border: 2px solid #b9b9b9 ;
    border-collapse: collapse;
}

#grades td {
    width: 150px;
    height: 25px;
}

#titolTabl {
    background-color: #704c8f;
    border-bottom: 4px solid black;
    font-weight: bold;
    font-size: 120%;
}

.grisTabl {
    background-color: #808080;
}

#images {
    height: 300px; 
}

#images ul {
    margin-top: 0px;
    box-sizing: border-box;
    padding-left: 0px;
}

#images li{
    display: inline-block;
    border-right: 1px solid black ;
}

#images img {
    margin-top: 0 auto; /*no sabia on possar el horizontal align*/
    width: 243px;
    height: 230px;
}

#images p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 242px;    
}